.custom-wordcloud {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  position: relative;
}

.custom-wordcloud canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 600px) {
  .custom-wordcloud {
    height: 500px;
  }
}
