.custom-wordcloud {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 500px;
  height: 100%;
}

.custom-wordcloud canvas {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 600px) {
  .custom-wordcloud {
    min-height: 400px;
  }
}
